<div class="project @(!Expanded ? "project-highlight" : "")">
    <div class="project-header @(Expanded ? "project-highlight" : "")" @onclick="ToggleCollapsed">
        <h2>@Name</h2>
        <span class="@IconCssClass" aria-hidden="true" />
    </div>

    @if (!Expanded)
    {
        <div class="project-summary">
            @Summary
        </div>
    }
    else
    {
        <div class="project-detail">
            <div class="project-links">
                <ButtonLink Url="@GitHubUrl" Image="/images/github.svg" Text="GitHub" />
                @if (Link is not null)
                {
                    <ButtonLink Url="@Link" Text="Try It Here" />
                }
            </div>
            @Detail
        </div>
    }
</div>

@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string? Link { get; set; }

    [Parameter]
    public RenderFragment? Summary { get; set; }

    [Parameter]
    public RenderFragment? Detail { get; set; }

    private string IconCssClass => Expanded ? "oi oi-minus centre" : "oi oi-plus centre";

    private string GitHubUrl { get { return $"https://github.com/njmayes/{Name.Replace(" ", "")}"; } }
    private bool Expanded { get; set; } = false;

    private void ToggleCollapsed()
    {
        Expanded = !Expanded;
    }
}